<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Profile</title>
    <link rel="stylesheet" href="/css/stylePersonalProfile.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

</head>
<body>
    <div class="container">
        <button class="btn" id="returnBack" onclick="window.history.go(-1); return false;">Back</button>
        <h1>Personal Profile</h1>
        <form id="profileForm">
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" name="fullName" value="<%= user.full_name || '' %>" required>
            <span id="fullNameError" class="error-message"></span>

            <label for="phoneNumber">Phone Number:</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" value="<%= user.phone_number || '' %>" required>
            <span id="phoneNumberError" class="error-message"></span>

            <label for="city">City:</label>
            <input type="text" id="city" name="city" value="<%= user.city || '' %>" list="cities" required>
            <datalist id="cities">
                <option value="Tel Aviv">
                <option value="Haifa">
                <option value="Jerusalem">
                <option value="Beersheba">
            </datalist>
            <span id="cityError" class="error-message"></span>

            <label for="street">Street:</label>
            <input type="text" id="street" name="street" value="<%= user.street || '' %>" required>
            <span id="streetError" class="error-message"></span>

            <label for="houseNumber">House Number:</label>
            <input type="number" id="houseNumber" name="houseNumber" value="<%= user.house_number || '' %>" required>
            <span id="houseNumberError" class="error-message"></span>

            <button type="submit">Save</button>
        </form>
        <div id="successMessage" class="success-message"></div>
    </div>

    <script src="./js/personalProfile.js"></script>
</body>
</html>
